<head>

</head>
<style>

* {
	margin: 0px;
	padding: 0px;
}

#container{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	/*text-align: center;*/
    /*background-color: #7f7f81;*/
}
#logo{
	width:20%;
	height:200px;
	display: inline-block;
	vertical-align: top;
}
#nav_head{
	width:75%;
	height:200px;
	/*border:solid;*/
	/*margin: 0 auto;*/
	display: inline-block;
	vertical-align: top;

}
#nav_head ul{
	width:20%;
	/*border:solid;*/
	margin-left:80%;
}
#nav_head li{
	display: inline-block;
}
#middle_nav{
	width:100%;
	/*display: inline;*/
	/*border: solid;*/
}
#soption{
	width:20%;
}
#left_col{
	width:49%;
	height:1000px;
	border:.1px solid;
	display: inline-block;
	vertical-align: top;
	/*margin-left:1.5px;*/
}
#right_col{
	width:49%;
	height: 1000px;
	border:.1px solid;
	display: inline-block;
	vertical-align: top;
	/*margin-right:1.5px;*/
}
</style>

<div id="container" class="container-fluid">
	<div id="nav">
		<div id="logo">
			<%= image_tag("class_homes.jpg") %> 
		</div>
		<div id="nav_head" class="navbar">
			<ul style="list-style-type:none">
				<li><a href="">Account</a></li>
				<li><a href="/static_pages/posting">Post in classified</a></li>
			</ul>
		</div>
	</div>
	<div id="middle_nav">
		<div id="soption">
			<select>
				<option> Select </option>
				<option value="1"> S.F </option>
				<option value="2"> L.A </option>
				<option value="3"> Seattle </option>
			</select>
			<select>
				<option> Select </option>
				<option value=""> East Bay </option>
				<option value=""> North Bay </option>
				<option value=""> South Bay </option>
				<option value=""> Peninsula </option>
			</select>
		</div>
	</div>
	<br>
	<div id="content">
		<div id="left_col">
			<p><a href=""><%= image_tag("House.jpg") %>Lovely home in San Francisco near downtown </a></p><br>
			<p><%= image_tag("") %> ## INPUT RUBY CODE HERE ## </p>
		</div>
		<div id="right_col">

		</div>
	</div>
</div>