	<div id="container">
			<div id="middle_content">
				<div id="content_one">
					<div id="main_bar">
					<h1> Find Your Home </h1>
						<form action="/new" method='get'>
							<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
							<input type="search" name="search">
							<button class="btn-primary btn-md"> Search </button>
						</form>
					</div>
				</div>
			</div>

	</div>

