
	<div id="container" class="container-fluid">
		<div id="nav" class="navbar">

			<ul style="list-style-type:none">
				<li><a href="/users">Account</a></li>
				<li><a href="/listings">Post in classified</a></li>
			</ul>
		</div>
			<div id="middle_content">
				<div id="content_one">
					<div id="search_bar">
					<h1> Find Your Home </h1>
						<form action="/new" method='get'>
							<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
							<input type="search" name="search">
							<button class="btn-primary btn-md"> Search </button>
						</form>
					</div>
				</div>
			</div>

	</div>

