<head>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<meta name="google-signin-client_id" content="1051992072469-avr6uov7qtatutq5fimhe783dcivm75u.apps.googleusercontent.com">
<script type="text/javascript">
	function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
}
</script>
</head>
<style>

* {
	margin: 0px;
	padding: 0px;
}

#container{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	/*border: .1px solid;*/
	text-align: center;
    /*background-color: #7f7f81;*/
}
#logo{
	width:20%;
	height:200px;
	display: inline-block;
	vertical-align: top;
}
#nav_head{
	width:75%;
	height:200px;
	/*border:solid;*/
	/*margin: 0 auto;*/
	display: inline-block;
	vertical-align: top;

}
#nav_head ul{
	width:20%;
	/*border:solid;*/
	margin-left:80%;
}
#nav_head li{
	display: inline-block;
}
#middle_nav{
	width:100%;
	text-align: center;
	/*display: inline;*/
	/*border: solid;*/
}
#register{
	width: 30%;
	height: 300px;
	vertical-align: top;
	display: inline-block;
}
#login{
	width: 30%;
	height:300px;
	vertical-align: top;
	display: inline-block;
}
#glogin{
	margin-top:2em;
	margin-left:10em;
}

}
#content{
	width: 61%;
	height:350px;
	border: solid;
}
/*#soption{
	width:20%;
}*/

/*#login{
	width:49%;
	height:1000px;
	border:.1px solid;
	display: inline-block;
	vertical-align: top;
	/*margin-left:1.5px;*/
}*/
/*#register{
	width:49%;
	height: 1000px;
	border:.1px solid;
	display: inline-block;
	vertical-align: top;
	/*margin-right:1.5px;*/
}*/
</style>

<div id="container">
	<div id="nav">
		<div id="logo">
			<%= image_tag("class_homes.jpg") %> 
		</div>
		<div id="nav_head" class="navbar">
			<ul style="list-style-type:none">
				<li><a href="/users">Account</a></li>
				<li><a href="/">Post in classified</a></li>
			</ul>
		</div>
	</div>
	<div id="middle_nav">
		<h1> Post to Classified </h1>

	</div>
	<div id="content">
		<div id="login">
			<h2> Log in </h2><br>
				<form action="/login" method='post'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				Email: <input type="text" name="email"><br>
				Password: <input type="password" name="password"><br><br>
				<button type="button" class="btn-primary"> Log in </button>
			</form>
			<br><h2> Sign in with Google! </h2>
			<div id="glogin">
			<form action='/glogin' method='post'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<div class="g-signin2" data-onsuccess="onSignIn"></div>
			</form>
			</div>
		</div>

		<div id="register">
			<h2> Register</h2><br>
			<form action="/users" method='post'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				First Name: <input type="text" name="user[first_name]"><br>
				Last Name: <input type="text" name="user[last_name]"><br>
				Email: <input type="text" name="user[email]"><br>
				Password: <input type="password" name="user[password]"><br>
				Confirm Password: <input type="password" name="user[password_confirmation]"><br><br>
				<button type="button" class="btn-primary"> Submit </button>
			</form>
		</div>

	</div>
</div>