
<header>
    <%= link_to root_path do %>
      <%= image_tag("class_homes.jpg") %> 
    <% end %>

    <nav>
    <h4>
      <ul>
        <li><%= link_to "Home",   root_path %></li> |
        <% unless current_user %>
        <li><%= link_to "Log in", new_user_path %></li> |
        <% else %>
        <li><a href="/users">Account</a></li> |
        <li><a href="/listings/new">Post</a></li>
        <% end %>
      </ul>
    </h4>
    </nav>
  </div>
</header>
</body>

